@import "global.scss";
@import "bootstrap-custom.scss";

.icon:before {
  vertical-align: middle;
}

.bg1 {
  background-color: $bg1;
}

.border-default{
  @extend %border-default;
}

.popup-layer{
  z-index: 1000;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $fs;
  color: $color1;
  line-height: $lh;
}
a{
  color: $bg2;
}
.container{
  min-width: $small;
}

// components
.select1 {
  // icon
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url('~@/assets/img/icon-sort.png') no-repeat right center;
  //
  height: $formControlHeight;
  line-height: $formControlHeight;
  padding-left: 20px;
  font-size: 14px;
  color: #888888;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
}

.btn1 {
  @include noBb;
  height: $formControlHeight;
  line-height: $formControlHeight;
  text-align: center;
  background: $bg2;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}
.content-card{
  min-height: 300px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20.37px 0.63px rgba(136, 136, 136, 0.31);
  margin: 50px 0 200px 0;
}

.content-card-header{
  font-size: $fs-title;
  $h: 80px;
  height: $h;
  line-height: $h;
  .step{
    display: inline-block;
    font-weight: bold;
    width: 170px;
    text-align: center;
    color: #1aa7ac;
    border-right: 2px solid $bd1;
  }
  .title{
    display: inline-block;
    padding-left: 30px;
  }
}
.content-card-progress-bar{
  background-color: #dbdbdb;
  box-shadow: none;
  border-radius: 0;
  .progress-bar-warning{
    box-shadow: none;
    font-size: 14px;
    color: $color1;
    font-weight: 500;
    background-color: #ffcc00;
  }
}
.content-card-body{
  padding: 50px 100px 120px 100px;
  box-sizing: content-box;
}
